/* ----------------------------------------------------------------------- */

html, 
body {
    font-size: 14px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #F8FAF9;
    font-weight: normal;
    color: #7D7D83;
    line-height: 1.6;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

a {
    color: #5fd0a5;
}

a:hover {
    color: #38a67c;
}

p {
    line-height: 1.6;
}

small {
    font-size: 80%;
    font-weight: 400;
}

menu {
    padding-left: 0px;
}

body,
span,
text,
a {
    font-family: 'Lato', sans-serif;
}

a:hover,
a:active,
a:focus {
    outline: none!important;
    text-decoration: none!important;
}

b, 
strong,
.bold {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.connect-container {
    min-height: 100vh;
}

.page-container {
    width: 100%;
    position: relative;
}

/* Page Content */

.page-content {
    padding: 35px;
}
